@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@font-face {
    font-family: Sunset;
    src: url(public/font/sunset-gothic-light-pro.ttf);
}

@font-face {
    font-family: 'Sunset Gothic';
    src: url('/font/sunset-gothic-light-pro.ttf') format('truetype');
}

@font-face {
    font-family: Sunset;
    font-weight: bold;
    src: url(public/font/sunset-gothic-bold-pro.913a453.ttf);
}

body{
    font-family: Sunset, "Montserrat", "sans-serif";
}

.btn_cancel{
    @apply bg-red-500 text-white rounded-md p-2
}

.btn_save{
    @apply bg-blue-600 text-white rounded-md p-2
}

@theme{
    --font-inter: "inter", sans-serif
}

.banner_slide_item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 7.5rem;
}
.banner_image{
    position: relative;
    z-index: 2;
}
.banner_image::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    max-width: 747px;
    width: 100%;
    min-height: 747px;
    height: 100%;
    background-color: #e1e3e5;
    border-radius: 100%;
    z-index: -1;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 52px !important;
    line-height: 1;
    opacity: .75;
    color: #007580 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
z-index: 5 !important;
}

.slick-prev {
    left: -95px !important;
}

.slick-next {
    right: -95px !important;
}
.slick-dots {
    position: absolute;
    bottom: -70px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 22px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.deliver_component{
    margin-top: -4rem;
    position: relative;
    z-index: 5;
}